#systemTooltip {
	border: 2px #BDBDBD solid;
	border-radius: 5px;
	padding: 3px;
	background-color: #FDFDFD;
}

#systemTooltip .nodeName {
	background-color: #BDBDBD;
}

#editPanel {
	height: 130px;
	border: 2px #BDBDBD solid;
	border-radius: 5px;
	padding: 10px;
	background-color: #FDFDFD;
}

#wholeBoard.editOn {
	cursor: crosshair;
}

.mapNode:hover {
	cursor: pointer;
	opacity: .6;
}

.mapNode.editOn:hover {
	cursor: move;
	opacity: .4;
	fill: #FF8000;
	stroke: #FF8000;
}

circle.myRed {
	stroke: #660000;
	fill: #FF8000;
	r: 30px;
	height: 120%;
	width: 120%;
}

AddNodeInputs {
	clear: left;
}